<head>
    <meta charset="utf-8">
    <title> Preguntas </title>
    <link rel='stylesheet' href='../../stylesheets/style.css' />

    <link rel="stylesheet" type="text/css" href="../../bootstrap/css/bootstrap.min.css">


    <link rel='stylesheet' type='text/css' media='only screen and (min-width: 530px) and (min-device-width: 481px)' href='/stylesheets/wide.css' />
    <link rel='stylesheet' type='text/css' media='only screen and (max-width: 480px)' href='/stylesheets/smartphone.css' /> 
    <link rel="icon" href="/favicon.ico" type="image/x-icon" /> 
</head> 
 <header class="main" id="h1">
    <h2><span>Edite la pregunta</span></h2>
  </header>

<form method="post" action="/quizes/<%= quiz.id %>?_method=put" >      
  <% include _form.ejs %>
</form>