
<form method="get" action="answer">
    Pregunta: <%= pregunta %><p>
    <input type="text" name="respuesta" value="Responda Aquí">
    <input type="submit" value="Enviar">
<a href="/quizes"><button class="btn btn-warning" type="button">Cancelar</button></a>
</form>
