

<form method='POST' action='/login'>



  <div class="panel panel-success" style="margin: 0 auto;">
  <div class="panel-heading">
    <h3 class="panel-title">Login</h3><p>
  </div>
  
  <div class="field">
       
    <input class="form-control" placeholder="Login" type="text" id="login" name="login" size="30" />
  </div>

  <div class="field">
    <input  class="form-control" placeholder="Password"   type="password" id="password" name="password" size="30" />
  </div>

  <div class="actions">
    <input  class="btn btn-success"   name="commit" type="submit" value="Login" />
  </div>

</form>

  </div>